@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oxanium:wght@300;400;700&display=swap');
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    background: linear-gradient(335deg, rgba(11,8,41,1) 0%, rgba(14,14,42,1) 35%, rgba(52,79,120,1) 100%);
    color: #fff;
overflow-x:hidden ;
}
img{
    max-width: 100%;
}
.img-rt{
    transform: rotate(-10deg);
    border-radius: 30px;
    position: relative;
    top:-50px;
    box-shadow:5px 5px 0 rgb(72, 153, 233);
}
.img-rt:hover{
    transform:rotate(0deg);
    box-shadow: 0px 10px 0 #fff;
    transition: all .2s ease;
    top: 0;
}
/* Slider */
.slider .slider-item {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;

}
.btn{
    
    font-size: .8rem;

    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 10px 30px;
}
.btn-primary{
    
    background-color: #2bc36f !important;
    border-color: #2bc36f !important;
}
.btn-primary:hover{
    background-color: #fff !important;
    border-color: #fff !important;
    color: #2bc36f !important;
}

.slider {

    width: 100%;
    height: 800px;
    background: rgb(50,44,111);
    background: linear-gradient(90deg, rgba(50,44,111,1) 0%, rgba(68,68,117,1) 35%, rgba(61,118,167,1) 100%);
    position: relative;
    color: #fff;
    top: -90px;
    overflow: hidden;
    margin-bottom: -90px;
}

.slider::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 70;
   
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 10%;


}



.slider .carousel-item {
    z-index: 90;
}

.slider h2 {
    font-weight: bold;
   
}

.slider figure.slider-item-img {
    margin: 0;
}

.slider figure.slider-item-img img {
    max-height: 300px;
}

.slider figure.slider-item-img img.img-thumbnail {
    padding: .5rem;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .2);
}
.slider .carousel-control-next,
.slider .carousel-control-prev {
    margin-top: 50px;
    z-index:999;
    color: #fff;
}
.slider .carousel-control-prev {
    left: -70px;
    color: #fff;
}
.slider h2,
.slider-item-text h4{
    text-transform: uppercase;
}
.slider-item-text h4 {
    font-size: 1.3rem;
   
    letter-spacing: .4rem;
}
.hizmetler .card-icon i {
    font-size: 60px;
    color: #5b59d4;
}
.hizmetler .card-body{
   
    text-align: center;
    
}
.hizmetler a.card:hover{
    background: linear-gradient(90deg, rgba(50,44,111,1) 0%, rgba(68,68,117,1) 35%, rgba(61,118,167,1) 100%);
    color: #fff;
    box-shadow: 0 0 15px #0000ff5c;
}
.hizmetler a.card:hover .card-title  {
    color: #fff;
}
.hizmetler a.card:hover .card-icon i {
    color: #72caff;
}

header {
    padding: 10px 0;
    position: relative;
    z-index: 110;
}

section,
footer {
    padding: 50px 0;
}

.section-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #3edaff;
}

.section-title::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    top: 110%;
    left: 0;

    background-color: #3edaff;
}
.bg-dark .section-title{
    color: #fff;
}
a.card{

    
    border-color: transparent;
    border-radius: 15px;
    text-decoration: none;
    height: 100%;
    background: transparent;
    /*background: linear-gradient(335deg, rgba(255, 255, 250, 1) 0%, rgba(255, 255, 255, 0) 100%);*/
    transition: all .2s;
}

a.card:hover .card-title{
    color: #2bc36f;
}
.card-title{
    font-size: 1rem;
    color: #ffffff;
}
.card-subtitle{
    text-transform: uppercase;
    font-size: .75rem;
}

/*Renk Ve Tipografi*/

.bg-dark {
    color: white;
    background: linear-gradient(335deg, rgba(11,8,41,1) 0%, rgba(14,14,42,1) 35%, rgba(52,79,120,1) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.section-title {
    font-family: 'Oxanium', cursive;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.navbar-dark .navbar-brand span {
    color: #2bc36f;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 13px;
    position: relative;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

footer {
    background-color: transparent;
}
footer h5 {
    font-size: .8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
}
footer .footer-nav li{
    padding: 5px 0;
}
footer .footer-sm-link  i{
    font-size: 1.5rem;

}
footer .footer-alt{
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
/*Responsive */
@media (min-width:992px) {
    .slider{
        
    overflow: hidden;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .navbar-nav .nav-link.active::after {
    
        background-color: #fff;
        opacity: 1;
      
    }
    .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        width: calc(100% - 2rem);
        height: 3px;
        background-color: #ccc;
        bottom: -3px;
        left: 1rem;
        opacity: 0;
        transition: all .2s ease;
    }
    .navbar-nav .nav-link:hover::after{
        opacity: 1;
    }
    .slider h2{
        font-size: 3rem;
    }


}
@media(min-width:1200px) {
    
    .slider h2{
        font-size: 4rem;
    }

}
@media(min-width:1400px){
   
}
@media(max-width:575px){
    .navbar-nav .nav-link{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        text-align: center;
    }
    .slider,.slider .slider-item{
        height: calc(100vh - 90px);
    }
    .slider .slider-item-text{
        padding: 1.5rem;
    }

    section, footer{
        padding: 30px 0;
    }
  
}